<h2>Carregando o template test.twig</h2>
//linkado com o teste.php
<hr>
<h3>{{NAME}}</h3> // será exibido o valor name presente em VALUES.[NAME]

{% for P in PAGES %}
    <p> {{P}} </p> // SERÁ EXIBIDO O VALOR DO ARRAY, presente em VALUES[PAGES]
{% endfor %}

<h3>{{TEXTO}}</h3> // será exibido o valor name presente em VALUES.[TEXTO]